.header{
    font-family: lucida sans;
    text-align:center;
    
}
.subheader{
    font-family:'Courier New', Courier, monospace;
    font-size:small;
    font-style:italic;
    margin: 5px;
    text-align:center;
}
.leftparagraph{
    font-family:monospace;
    font-size:large;
    text-align:center;
}
.rightparagraph{
    font-family:monospace;
    font-size:large;
    text-align:center;
}
.idximg{
    width: 22.5%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.copyright{
    text-align:end;
    font-weight:bold;

}
.links{
    text-align:center;
    margin:0;
    padding:0;
}
.links li{
    display:inline-block;
    font-size:small;    
    
}
.listheaders{
    font-size:30px;
    font-family: monospace;
    text-decoration:underline;
    margin:0;
}
list{
    font-size:20px;
}
.charsiu{
    width:15%;
    float:right;
}
.rps{
    width: 613px;
    height:600px;
    flex-direction:row;
}
table{
    border-collapse:collapse;
    width:38%;
    font-family:'Courier New', Courier, monospace;
}
th, td{
    border: 2px solid black;
}
.spots{
    width:100%;
}
.spotsp{
    font-size:large;
}
.flexspot{
    display:flex;
    flex-direction:column;
}
body{
    background-color:lightblue;
    
}